body,html
{	height: 100%;
	margin: 0px;
	padding: 0px;
	color: #9f9;
	background-color: #000;
	overflow: hidden;
	font-family: monospace;
}

/* Notice for when scripting is disabled. */
.no-script
{	position:absolute;
	top:10px;
	left:0px;
	width: 100%;
	text-align: center;
	z-index:666;
	font-size:1.5em;
	font-weight:bold;
}

#display
{	height: 100%;
	white-space: nowrap;
	text-align: center;
}

#display:before
{	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 100%;
}

#viewport
{	display: inline-block;
	vertical-align: middle;
	white-space: normal;
}

/* Hide the mouse cursor */
.cursorHidden
{	cursor:
		url( "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjbQg61aAAAADUlEQVQYV2P4//8/IwAI/QL/+TZZdwAAAABJRU5ErkJggg==" ),
		url( "../img/invisible.cur" ),
		none !important;
}

.cursorShown
{	cursor: auto;
}